<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Products</h1>
<hr>

    <ul class="thumbnails">
      <% @products.each do |product| %>
      <li class="span5 well">
        <div class="thumbnail">
          <%= image_tag(product.image_url , :size => "200x200") %>
          <h3><%= product.title %></h3>
          <p><%= sanitize(product.description) %></p>
          <h4><%= number_to_currency(product.price) %></h4>
          <%= button_to 'Add to Cart', line_items_path(product_id: product),
                        remote: true %>
        </div>
      </li>
<% end %>
    </ul>


