
<!DOCTYPE html>
<html>
<head>
  <title>Grocery Hub: Groceries as a Service (GaaS)</title>
  <!-- START:stylesheet -->

  <%= stylesheet_link_tag "application", :media => "all" %><!-- <label id="code.slt"/> -->
  <!-- END:stylesheet -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <!--Le Enils custom styling -->

</head>
<body class="<%= controller.controller_name %>">





  <div class="navbar navbar-fixed-top">

    <div class="navbar-inner">
      <a class="brand" href="#"><i>Grocery Hub</i></a>
      <ul class="nav">
        <li id="nav_home"><a href="/">Home</a></li>
        <li id="nav_products"><a href="/products">Manage</a></li>

      </ul>

      <form class="navbar-form pull-right" action='/search' method="get">
      <input type="text" class="span2" id="searchID" name="searcher">
      <button type="submit" class="btn">Submit</button>
      </form>



    </div>

  </div>
  <br>
  <br>
  <div class="centered well">
    <img class="" src="../assets/images/ghub.png" width="900px"/>
  </div>





    <div class="centered well">
      <div class="row">

          <div id="cart" class="span4">
            <%= render @cart %>


          </div>
          <div id="main_content" class="span8">
            <!-- begin app generated content -->
            <%= yield %>
            <!-- end content                 -->
          </div>

      </div>
    </div>



</body>
</html>
